body{
    background-color: rgba(106, 243, 250, 0.212);
    font-family: 'Verdana';
}

.names{
    flex: 1;
    text-align: right;
}
.logo{
    flex: 0 0 70%;
    margin-left: 15%;
}

.nameLabel{
    width: 100%;
    margin-right: 3%;
}

#header {
    display: flex;
    width: 100%;
    text-align: center;
    height: 80px;
    margin: auto;
}

#footer{
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0;
    background-color: rgb(166, 238, 241);
    padding: 0%;
}


#menu{
    position: absolute;
    width: 100%;
    left: 0px;
    height: 30px;
    top: 90px;
    background-color: rgb(166, 238, 241);
}

.menuLabel{
    font-size: medium;
    display: block;
    margin-top: 5px;
}

.divLabel{
    width: 10%;
    height: 30px;
    text-align: center;
    float: left;
}

.divLabel:hover{
    background-color: rgba(128, 128, 128, 0.678);
}

#welcome{
    width: 100%;
    text-align: center;
}

#signUp{
    float: left;
    width: 8%;
    margin-left: 35%;
    margin-right: 5%;
    margin-top: 15%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(166, 238, 241);
}

#signUp:hover{
    background-color: rgba(143, 143, 143, 0.164);
}

#login{
    margin-top: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#pregister{
    text-align: center;
}

#register-form, #loginGame{
    margin-top: 7.5%;
}

#Settings-game{
    margin-top: 1%;
}

#register label{
    font-size: 18px;
    padding: 6px 12px 12px 0;
    display: inline-block;
}

#loginGame label, #Settings-game label{
    font-size: 18px;
    padding: 6px 6px 6px 0;
    display: inline-block;
}

#register input, #loginGame input, #Settings-game input{
    width: 150px;
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
    width: 15%;
    margin-top: 6px;
    margin-left: 35%;
}

.right{
    float: left;
    width: 50%;
    margin-top: 13px;
}

#submitR, #submitL, #startGame{
    margin-top: 2%;
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(166, 238, 241);
    margin-left: 45%;
}

#resetB{
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(166, 238, 241);
}

#startGame{
    margin-left: 36%;
}

#random{
    width: 100px;
    margin-top: 2%;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(166, 238, 241);
    margin-left: 2%;
}

#loginB{
    float: left;
    width: 8%;
    margin-left: 5%;
    margin-right: 35%;
    margin-top: 15%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(166, 238, 241);
}

#loginB:hover{
    background-color: rgba(143, 143, 143, 0.164);
}

#content{
    width: 100%;
    height: 600px;
}

#settings{
    padding: 10px;
    padding-top: 35px;
}

#gameBoard{
    position: absolute;
    margin-top: 40px;
    width:  100%;
    overflow:hidden;
    
}

#game{
    display: flex;
    
}

#showSettings{
    flex: 1;
    margin-top: 6%;
    margin-left: 0.5%;
}

canvas{
    border: 2px solid rgb(166, 238, 241);
    margin-top: 25px;
    flex: 0 0 85%;
}

#user{
    margin-right: 0.5%;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    margin-top: 0.38%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error{
    float: left;
    color: red;
    font-size: small;
    margin-left: 0%;
}
