body{
    background-color: rgba(106, 243, 250, 0.212);
    font-family: 'Verdana';
}

.names{
    flex: 1;
    text-align: right;
}

.logo{
    flex: 0 0 70%;
    margin-left: 15%;
}

.nameLabel{
    width: 100%;
    margin-right: 3%;
}

#header {
    display: flex;
    width: 100%;
    text-align: center;
    height: 80px;
    margin: auto;
}

#footer{
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0;
    background-color: rgb(166, 238, 241);
    padding: 0%;
}


#menu{
    position: absolute;
    width: 100%;
    left: 0px;
    height: 30px;
    background-color: rgb(166, 238, 241);
}

.menuLabel{
    vertical-align: bottom;
    font-size: medium;

}

.divLabel{
    width: 10%;
    height: 30px;
    text-align: center;
    float: left;
}

.divLabel:hover{
    background-color: rgba(128, 128, 128, 0.678);
}

#welcome{
    width: 100%;
    text-align: center;
}

#signUp{
    float: left;
    width: 8%;
    margin-left: 35%;
    margin-right: 5%;
    margin-top: 15%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(166, 238, 241);
}

#signUp:hover{
    background-color: rgba(143, 143, 143, 0.164);
}

#login{
    margin-top: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#pregister{
    text-align: center;
}

#register-form{
    margin-top: 5%;
}

#register label{
    margin-right: 2%;
    margin-left: 40%;
}

#submitR{
    width: 8%;
    margin-left: 46%;
    margin-right: 46%;
}

#loginB{
    float: left;
    width: 8%;
    margin-left: 5%;
    margin-right: 35%;
    margin-top: 15%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(166, 238, 241);
}

#loginB:hover{
    background-color: rgba(143, 143, 143, 0.164);
}

#content{
    width: 100%;
    height: 600px;
}

#settings{
    padding: 10px;
    padding-top: 35px;
}

#gameBoard{
    position: absolute;
    margin-top: 40px;
    width:  100%;
}

canvas{
    border: 2px solid rgb(166, 238, 241);
    margin-top: 25px;
}

#user{
    margin-right: 0.5%;
}
